/* FONT MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, button, #srch, #nav, #profilePic, #star, #sentMessage, #alert, #inputFail {
  user-select: none;
}

#nav {
    font-family: 'Montserrat', sans-serif;
    
  }

li:hover {
  scale: 1.1;
}

#card:hover {
  scale: 1.015;
  cursor: pointer;
}

#alert {
  font-family: 'Montserrat', sans-serif;
}